$primary:  rgb(245, 139, 157);
$family-primary: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "~bulma";


@media (max-width: 500px) {
  .buy-buttons {
    justify-content: flex-start !important;
  }
}

@media (max-width: 1088px) {
  .paypal-cart-button-icon {
    font-size: 18px !important;
    margin-top: 5px !important;
  }
}
