$primary:  rgb(245, 139, 157);

@import "~bulma";


@media (max-width: 500px) {
  .buy-buttons {
    justify-content: flex-start !important;
  }
}

@media (max-width: 1088px) {
  .paypal-cart-button-icon {
    font-size: 18px !important;
    margin-top: 5px !important;
  }
}
